<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="ltitle">
            <h1>Task Reminder</h1>
        </div>

        <nav class="navhead">
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/list">List</a>
        </nav>
    </header>

    <div class="welcome">
        <h2>WELCOME TO TASK REMINDER</h2>
        <p>Web ini Untuk Uji Coba Sistem Web ,Flask , API Cloud , Cloud Sistem, DB Sistem, Dalam Bentuk Task Reminder</p>
    </div>

    <section class="btn">
        <div class="btn-row row-2">
            <button class="addbtn">Add Task</button>
            <button class="listbtn">See Task List</button>
        </div>

        <div class="btn-row row-3">
            <button class="delbtn">Delete Task</button>
            <button class="editbtn">Edit Task</button>
            <button class="donebtn">Done Task</button>
        </div>
    </section>
    <script src="../static/js/loader.js"></script>
</body>
</html>